.main {
    &.a {
        background: $sal;
        .name {
            opacity: 0;
        }
        .stl {
            opacity: 0;
        }
        .l {
            background: transparent;
            transition: all .5s ease-in-out 1.5s;
        }
        section.about {
            visibility: visible;
            opacity: 1;
            transition: all .25s ease-in-out;
            transition-delay: 3.25s;
            .container {
                position: relative;
                top: 50%;
                padding: 15px 25px 15px 25px;
                transform: translateY(-50%);
                border: 1px solid white;
                color: white;
                opacity: 1;
                &:before {
                    display: block;
                    content: 'About';
                    position: absolute;
                    top: -25px;
                    font-size: 30px;
                    font-weight: bold;
                    background: $sal;
                }
            }
        }
    }
}