.main {
    &.p {
        // background: $gr;
        transition: all .7s ease-in-out;
        &:before {}
        .name {
			visibility: hidden;
            opacity: 0;
        }
        .stl {
            opacity: 0;
        }
        .l {
            background: transparent;
            transition-delay: 2s;
        }
        .r {
            height: 0vh;
        }
        section.projects {
            visibility: visible;
            opacity: 1;
            transition: all .75s ease-in-out;
            transition-delay: 2.75s;
            left: 0;
            a{
            	text-decoration: none;
            	color: $gr;
            	transition: color .2s ease-in-out;
            	&:hover{
            		color: purple;
            	}
            }

            .card-container {
                display: grid;
                width: 100%;
                height: calc(100vh - 100px);
                top: 95px;
                position: relative;
                grid-template-columns: 45% 45%;
                grid-template-rows: 30% 30% 30%;
                grid-column-gap: 25px;
                grid-row-gap: 20px;
                justify-content: center;
            }
            .card {
                background: rgba(255, 255, 255, 0.9);
                border-radius: 4px;
                box-shadow: 1px 3px 9px 0px green;
                transition: all .33s ease;
                cursor: crosshair;
				padding: 0px 30px;
                &:hover {
                    box-shadow: none;
                    transform: translateX(1px)translateY(1px);
                }
                &.ept {
                    grid-column: 1;
                    grid-row: 1;
                }
                &.ep {

                    grid-column: 2;
                    grid-row: 1;
                }
                &.hg {

                    grid-column: 1;
                    grid-row: 2;
                }
                &.rc {

                    grid-column: 2;
                    grid-row: 2;
                }
                &.bu {

                    grid-column: 1;
                    grid-row: 3;
                }
            }
        }
    }
}